<html>
<head>
  <title>Confirm email</title>
</head>
<body>
<main>
  <section id="success-message">
    <div>
      <p>
        Your email was successfully verified
      </p>
    </div>
  </section>


  <section id="error-message">
    <div>
      Error on verify account
    </div>
  </section>

  <div id="email-verified" value={{emailVerified}}>
  </div>

</main>
<script src="/js/confirm-email.js"></script>
</body>
</html>
