<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm Your Subscription</title>
  <link rel="stylesheet" href="/css/confirm-subscribe.css">
</head>
<body>
  <div class="container">
    <div id="message-box" class="hidden"></div>
    <div id="is-subscribed" value={{isSubscribed}} class="hidden"></div>
  </div>
  <script src="/js/confirm-subscribe.js"></script>
</body>
</html>

