<html>
<head>
  <title>Restore password</title>
  <link rel="stylesheet" href= "/css/password.css">
</head>
<body>
<main class="layout">
  <section >
    <div id="success-message" class="alert success">
      <p>
        Your password has been restore
      </p>
    </div>
  </section>


  <section>
    <div id="error-message" class="alert error">
      Error on change password
    </div>
  </section>

  <div id="form-section">
    <form id="change-password-form">
      <label for="newPassword">
        New password
      </label>
      <input type="password" id="newPassword" name="newPassword" />

      <button type="submit">Change password</button>
    </form>
  </div>

  <section id="token" value={{token}}></section>

</main>
<script src="/js/change-password.js"></script>
</body>
</html>
